body{
    color:white;
    background:black;
    margin: 0px;
}

header { 
    border-bottom: solid 2px rgb(213,22,11);
    padding: 20px;
    font-size: 32px;
    color: rgb(213,22,11);
}

section{
    background: rgb(157,12,25);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}